<a href="https://colab.research.google.com/github/Somacynthia/Python-Quiz/blob/main/Hamoye_python_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
fbs = pd.read_csv(url, encoding = "latin-1")

In [7]:
fbs.describe(include = 'all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [8]:
fbs.groupby(['Y2017', 'Area'])['Area'].sum()

Y2017      Area
-1582.0    Egypt                                           EgyptEgypt
-1200.0    Mozambique                                      Mozambique
-1159.0    Mozambique                                      Mozambique
-865.0     United Republic of Tanzania    United Republic of Tanzania
-860.0     United Republic of Tanzania    United Republic of Tanzania
                                                     ...
 96443.0   Egypt                                                Egypt
 106400.0  Ethiopia                                          Ethiopia
 112625.0  Nigeria                                            Nigeria
 117702.0  Nigeria                                            Nigeria
 190873.0  Nigeria                                            Nigeria
Name: Area, Length: 14773, dtype: object

In [9]:
fbs.groupby('Item')['Item'].sum()

Item
Alcohol, Non-Food      Alcohol, Non-FoodAlcohol, Non-FoodAlcohol, Non...
Alcoholic Beverages    Alcoholic BeveragesAlcoholic BeveragesAlcoholi...
Animal Products        Animal ProductsAnimal ProductsAnimal ProductsA...
Animal fats            Animal fatsAnimal fatsAnimal fatsAnimal fatsAn...
Apples and products    Apples and productsApples and productsApples a...
                                             ...
Vegetables, Other      Vegetables, OtherVegetables, OtherVegetables, ...
Vegetal Products       Vegetal ProductsVegetal ProductsVegetal Produc...
Wheat and products     Wheat and productsWheat and productsWheat and ...
Wine                   WineWineWineWineWineWineWineWineWineWineWineWi...
Yams                   YamsYamsYamsYamsYamsYamsYamsYamsYamsYamsYamsYa...
Name: Item, Length: 119, dtype: object

In [21]:
fbs.groupby(['Y2015', 'Item'])['Item'].agg(sum)

Y2015      Item
-3161.0    Cereals - Excluding Beer    Cereals - Excluding Beer
-2152.0    Maize and products                Maize and products
-1284.0    Cereals - Excluding Beer    Cereals - Excluding Beer
-907.0     Cereals - Excluding Beer    Cereals - Excluding Beer
-887.0     Sorghum and products            Sorghum and products
                                                 ...
 92443.0   Population                                Population
 100835.0  Population                                Population
 110798.0  Starchy Roots                          Starchy Roots
 111663.0  Starchy Roots                          Starchy Roots
 181137.0  Population                                Population
Name: Item, Length: 17591, dtype: object

In [22]:
fbs.groupby('Area')['Area'].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
Côte d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64

In [28]:
fbs.groupby(['Y2017', 'Area'])['Area'].agg([min, max, sum])

,,min,max,sum
Y2017,Area,,,
-1582.0,Egypt,Egypt,Egypt,EgyptEgypt
-1200.0,Mozambique,Mozambique,Mozambique,Mozambique
-1159.0,Mozambique,Mozambique,Mozambique,Mozambique
-865.0,United Republic of Tanzania,United Republic of Tanzania,United Republic of Tanzania,United Republic of Tanzania
-860.0,United Republic of Tanzania,United Republic of Tanzania,United Republic of Tanzania,United Republic of Tanzania
...,...,...,...,...
96443.0,Egypt,Egypt,Egypt,Egypt
106400.0,Ethiopia,Ethiopia,Ethiopia,Ethiopia
112625.0,Nigeria,Nigeria,Nigeria,Nigeria
117702.0,Nigeria,Nigeria,Nigeria,Nigeria
190873.0,Nigeria,Nigeria,Nigeria,Nigeria